<!--<section class="container com-sp">-->
<!--<div class="row">-->
  <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->

    <!--&lt;!&ndash;<h3>Quiz Application</h3>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-md-6 text-sm-right">&ndash;&gt;-->
    <!--&lt;!&ndash;Select Quiz:&ndash;&gt;-->
    <!--&lt;!&ndash;<select [(ngModel)]="quizName" (change)="loadQuiz(quizName)">&ndash;&gt;-->
        <!--&lt;!&ndash;<option *ngFor="let quiz of quizes" [value]="quiz.id">{{quiz.name}}</option>&ndash;&gt;-->
      <!--&lt;!&ndash;</select>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--<div id="quiz">-->
  <!--&lt;!&ndash;<h1 class="text-sm-center">{{quiz.name}}</h1>&ndash;&gt;-->
  <!--&lt;!&ndash;<hr />&ndash;&gt;-->

  <!--<div *ngIf="mode=='quiz' && quiz" class="col-md-8">-->
    <!--<div *ngFor="let question of filteredQuestions;">-->
      <!--<div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>-->
      <!--<h2>{{pager.index + 1}}. <span [innerHTML]="question.name"></span></h2>-->
      <!--<div *ngIf="question.questionImg !== null"><img class="img-question responsive-img" src="{{imgPath}}/{{question.questionImg}}" ></div>-->
      <!--<div class="row text-left options">-->
        <!--<div class="col-md-6" *ngFor="let option of question.options">-->
          <!--<div class="option">-->
            <!--&lt;!&ndash; <label class="" [attr.for]="option.id">-->
                <!--<input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" />-->
                <!--{{option.name}}-->
            <!--</label> &ndash;&gt;-->
            <!--<td>-->
                <!--<input type="checkbox" class="filled-in" id="{{option.id}}"  [(ngModel)]="option.selected" (change)="onSelect(question, option);"/>-->
                <!--<label [attr.for]="option.id">{{option.name}}</label>-->
              <!--<h2 *ngIf="option.optionImage !== null"><img class="responsive-img img-option" src="{{imgPath}}/{{option.optionImage}}" ></h2>-->
            <!--</td>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<hr />-->
    <!--<div class="text-sm-center">-->
      <!--<button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">First</button>-->
      <!--<button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Prev</button>-->
      <!--<button class="btn btn-primary" (click)="goTo(pager.index + 1);">Next</button>-->
      <!--<button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last</button>-->
      <!--<button class="btn btn-default" (click)="onSubmit();">Submit Quiz</button>-->
      <!--&lt;!&ndash;<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash;<div class="row review" *ngIf="mode=='review'">  &ndash;&gt;-->
    <!--<div class="row review"  class="col-md-4" *ngIf="mode!='result'">-->
    <!--<div class="col-sm-4" *ngFor="let question of quiz.questions; let index = index;">-->
      <!--<div (click)="goTo(index)" class="{{ isAnswered(index) == 'Answered'? 'answered': 'not-answered' }}">{{index + 1}}. {{ isAnswered(index) }}</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="result" *ngIf="mode=='result'">-->
    <!--<h2>Quiz Result</h2>-->
    <!--<div *ngFor="let question of quiz.questions; let index = index">-->
      <!--<div class="result-question">-->
        <!--<h4>{{index + 1}}. {{question.name}}</h4>-->
        <!--<div class="row">-->
          <!--<div class="col-md-6" *ngFor="let Option of question.options">-->
            <!--&lt;!&ndash; <input type="checkbox" class="filled-in" id="{{Option.id}}"  disabled="disabled" [(ngModel)]="Option.selected" /> {{Option.name}} &ndash;&gt;-->
            <!--&lt;!&ndash; <input type="checkbox" class="filled-in" id="{{option.id}}" checked="checked" [(ngModel)]="option.selected" />{{Option.name}} &ndash;&gt;-->
            <!--<td>-->
                <!--<input type="checkbox" class="filled-in" id="{{Option.id}}" disabled="disabled" [(ngModel)]="Option.selected"/>-->
                <!--<label [attr.for]="Option.id">{{Option.name}}</label>-->
            <!--</td>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<h4 class="alert alert-info text-sm-center">You may close this window now.</h4>-->
  <!--</div>-->
  <!--<hr />-->
  <!--&lt;!&ndash;<div *ngIf="mode!='result'">&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="btn btn-default" (click)="mode = 'quiz'">Quiz</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="btn btn-default" (click)="mode = 'review'">Review</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="btn btn-default" (click)="onSubmit();">Submit Quiz</button>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</section>-->
<section>
  <footer class="container-fluid" *ngIf="mode !=='result'">
    <!--<p>Footer Text</p>-->
    <p>Question {{pager.index + 1}} of {{pager.count}}.</p>
    <p style="position: absolute ; right: 5px ;top:17px; font-size: 12px">Marks<span class="badge badge-success">+1</span><span class="badge badge-danger">-0.25</span></p>
  </footer>
  <div class="container-fluid" *ngIf="mode !=='result'">
    <div class="row content">

      <div class="col-sm-10" style="margin-top:50px">
        <div *ngIf="mode=='quiz' && quiz">
          <div *ngFor="let question of filteredQuestions;">
            <!--<div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>-->
            <h3> <span [innerHTML]="question.name"></span></h3>
            <div *ngIf="question.questionImg !== null"><img class="img-question responsive-img" src="{{imgPath}}/{{question.questionImg}}" ></div>
            <div class="row text-left options">
              <div class="col-md-6" *ngFor="let option of question.options">
                <div class="option">
                  <!-- <label class="" [attr.for]="option.id">
                      <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" />
                      {{option.name}}
                  </label> -->
                  <td>
                    <input type="checkbox" class="filled-in" id="{{option.id}}"  [(ngModel)]="option.selected" (change)="onSelect(question, option);"/>
                    <label [attr.for]="option.id">{{option.name}}</label>
                    <h2 *ngIf="option.optionImage !== null"><img class="responsive-img img-option" src="{{imgPath}}/{{option.optionImage}}" ></h2>
                  </td>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-2 sidenav"  >
        <div class="row review"  class="col-md-12 no-padding" *ngIf="mode!='result'">
          <div class="col-sm-12 col-md-12 no-padding" style="border-bottom: 1px solid #d6d6d6">
            <div class="col-xs-6 no-padding">
            <div class="col-sm-2 no-padding">
            <div class="answered">?</div>
            </div>
              <div class="col-sm-3 no-padding">
             <span style="text-align:center;font-size: smaller;margin-left: 10px">answered</span>
              </div>
          </div>
            <div class="col-xs-6 no-padding">
              <div class="col-sm-2 no-padding">
                <div class="not-answered">?</div>
              </div>
              <div class="col-sm-4 no-padding" style="margin-left: 10px">
                <span style="text-align: center;font-size: smaller;line-height: 0; margin-top: 13px; position: absolute;width: 90px;">not answered</span>
              </div>
            </div>
            <div class="col-xs-6 no-padding">
              <div class="col-sm-2 no-padding">
                <div class="marked-review">?</div>
              </div>
              <div class="col-sm-3 no-padding">
                <span style="text-align:center;font-size: smaller;margin-left: 10px">marked</span>
              </div>
            </div>
          </div>

          <div class="col-sm-4" *ngFor="let question of quiz.questions; let index = index;">
            <div (click)="goTo(index)" class="{{ isAnswered(index) == 'Answered'? 'answered': 'not-answered' }}">{{index + 1}}</div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12" style="width: 100%; position: absolute;left: 0; bottom: 18px;"><button class="btn btn-success" (click)="onSubmit();" style="width:100%" > Submit Quiz</button></div>
      </div>
      <div class="text-sm-center col-md-12 col-sm-12" style="width: 83.3333%; position: absolute;left: 0; bottom: 14px; padding-top: 15px; border-top:1px solid #e6e6e6" >
        <!--<button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">First</button>-->
        <!--<button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Prev</button>-->
        <button class="btn btn-default" (click)="goTo(pager.index + 1);">Mark for Review & Next</button>
        <button class="btn btn-success" (click)="goTo(pager.index + 1);" style="position: absolute; right:10px">Save & Next</button>
        <!--<button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);" style="position: absolute; right: 18%">Last</button>-->
        <!--<button class="btn btn-default" (click)="onSubmit();">Submit Quiz</button>-->
        <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
      </div>
    </div>
  </div>
  <div class="result" *ngIf="mode=='result'" calss="col-md-12">
    <h2>Quiz Result</h2>
    <div *ngFor="let question of quiz.questions; let index = index">
      <div class="result-question">
        <h4>{{index + 1}}. {{question.name}}</h4>
        <div class="row">
          <div class="col-md-6" *ngFor="let Option of question.options">
            <!-- <input type="checkbox" class="filled-in" id="{{Option.id}}"  disabled="disabled" [(ngModel)]="Option.selected" /> {{Option.name}} -->
            <!-- <input type="checkbox" class="filled-in" id="{{option.id}}" checked="checked" [(ngModel)]="option.selected" />{{Option.name}} -->
            <td>
              <input type="checkbox" class="filled-in" id="{{Option.id}}" disabled="disabled" [(ngModel)]="Option.selected"/>
              <label [attr.for]="Option.id">{{Option.name}}</label>
            </td>
          </div>
        </div>
        <div class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</div>
      </div>
    </div>
    <h4 class="alert alert-info text-sm-center">You may close this window now.</h4>
  </div>
</section>
