<div class="sb2-2-3">
  <div class="row">
    <div class="col-md-12">
      <div class="box-inn-sp admin-form">
        <div class="sb2-2-add-blog sb2-2-1">
          <h2>Add New Course</h2>
          <ul class="nav nav-tabs tab-list">
            <li class="active"><a data-toggle="tab" href="#testdesc" aria-expanded="true"><i class="fa fa-info" aria-hidden="true"></i> <span>Test Detail</span></a>
            </li>
            <li class=""><a data-toggle="tab" href="#questions" aria-expanded="false"><i class="fa fa-bed" aria-hidden="true"></i> <span>Question</span></a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="testdesc" class="tab-pane fade active in">
              <div class="box-inn-sp">
                <div class="inn-title">
                  <h4>Test Details (Step One)</h4>
                </div>
                <div class="bor">
                  <form (ngSubmit)="addTestDetails(testDetails)" #testDetails="ngForm">
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="test-category" name="testCategory" type="text" class="validate" required ngModel>
                        <label for="test-category" class="">Test Category</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="test-subcategory" name="testSubcategory" type="text" class="validate" required ngModel>
                        <label for="test-subcategory">Test SubCategory</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="test-code" name="testCode" type="text" class="validate" required ngModel>
                        <label for="test-code">Test Code</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="test-name" name="testName" type="text" class="validate" required ngModel>
                        <label for="test-name">Test Name</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="test-type" name="testType" type="text" class="validate" required ngModel>
                        <label for="test-name">Test Type</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="test-subject" name="testSubject" type="text" class="validate" required ngModel>
                        <label for="test-subject">Test Subject</label>
                      </div>
                      <div class="input-field col s12">
                        <input style="padding-left: 75px;" id="test-startDate" name="testStartDate" type="date" class="validate" required ngModel>
                        <label for="test-startDate">StartDate</label>
                      </div>
                      <div class="input-field col s12">
                        <input style="padding-left: 75px;" id="test-endDate" name="testEndDate" type="date" class="validate" required ngModel>
                        <label for="test-endDate">EndDate</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="test-duration" name="testDuration" type="number" class="validate" required ngModel>
                        <label for="test-duration">Duration In Minutes</label>
                      </div>
                      <div class="input-field col s12">
                        <input id="test-questions" name="testtotalQuestions" type="number" class="validate" required ngModel>
                        <label for="test-duration">No of Questions</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <textarea class="materialize-textarea" name="testDesc" ngModel></textarea>
                        <label>Test Descriptions:</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="waves-effect waves-light btn-large waves-input-wrapper" style=""><input type="submit" class="waves-button-input"></i>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div id="questions" class="tab-pane fade">
              <div *ngIf="!detaileSubmitted">
                <div class="inn-title">
                  <h4>Submit All Questions with their answers</h4>
                </div>
                <br>
                <a href="../../assets/images/Questions_File_Generator.xlsm" download><i class="fa fa-download text-success" aria-hidden="true"></i> Click Here To Download Sample File</a>
                <div class="bor ad-cou-deta-h4">
                  <form (ngSubmit)="addTestQuestions(testQuestions)" #testQuestions="ngForm">
                    <div class="row">
                      <div class="input-field col s12">
                      <input style="padding-top:9px" type="file" (change)="fileChangetemp($event)" placeholder="Upload file" accept=".pdf,.doc,.docx,.json">
                        <!--<label>Uplaod File:</label>-->
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="waves-effect waves-light btn-large waves-input-wrapper" style=""><input type="submit" class="waves-button-input"></i>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div *ngIf="!detaileSubmitted" style="height: 300px">
                <div class="inn-title" >
                  <h4>Please complete step One</h4>
                  <p>Submit  test details first</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
