<div class="container-fluid sb2 no-mt ">
<div class="row">
<app-admin-nav></app-admin-nav>

  <!--== BODY INNER CONTAINER ==-->
  <div class="sb2-2 ">
    <!--== breadcrumbs ==-->
    <!--<div class="sb2-2-2">-->
      <!--<ul>-->
        <!--<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>-->
        <!--</li>-->
        <!--<li class="active-bre"><a href="#"> Events</a>-->
        <!--</li>-->
        <!--<li class="page-back"><a href="index.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->

    <!--== User Details ==-->
    <router-outlet></router-outlet>
  </div>

</div>
</div>
